<html>
    <head>
        <title>ExampleCase1</title>
    </head>
    <body>
        <h3 align="center">Example Case 1</h3>
        <div align="center">
            <h4 align="center">Upload the csv file!</h4><br/>
            <form action="/ex1/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="data" accept=".csv"/>
                <input type="submit"/>
            </form>
        </div>
        <div align="center">
            <button><a href="/">Home</a></button>
        </div>
    </body>
</html>
